* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #660500;

}
.white{
    color: white;
}

    header {
    background-color: #660500;
    padding: 12px 20px;
    text-align: center;
    }

h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #7b2d26;
    margin-bottom: 25px;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
    color: #4b2c20;
}

p {
    font-size: 16px;
    margin-top: 5px;
    color: #333;
}

    nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    }

    nav img {
    height: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    }

    nav button {
    background-color: #310202;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    }

    nav button:hover {
    text-decoration: underline;
    }